@font-face {
    src: url("fonts/Fraunces[SOFT\,WONK\,opsz\,wght].woff2") format("woff2"),
        url('fonts/Fraunces[SOFT\,WONK\,opsz\,wght].ttf') format('truetype');

    font-family: 'Fraunces';
    font-style: normal;
    font-weight: normal;
    }
    /* *{
     border: blue 3px dashed;
     } */

    body{
    background-image: url("assets/grid.png"); 
    font-family: 'Fraunces';
    margin:0;
    padding:0;

}
/* how the page wrapper will appear on mobile */
.page-wrapper{
    width: min(100% - 3rem, 80ch);
    margin-inline: auto;
}
/* how the page wrapper appears on desktop */

@media only screen and (min-width:800px){
.page-wrapper{
display: grid;
grid-gap: 25px;
grid-template-columns: 1fr 1fr;
grid-template-rows: auto;
grid-template-areas: 
    "h v"
    "a a";
}
    
}


#history {
grid-area: h;
font-size: 20px;
margin-left: -90px;
margin-top: 100px;
margin-bottom: 600px;
background-color: #F2594B;
border-color: #F2594B;
border-style: solid; 
border-width: 10px;
border-radius: 10px;
text-align: left;
font-variation-settings: "opsz" 100, "wght" 400, "SOFT" 0, "WONK" 0;
}

#variations{
grid-area: v; 
margin-left: 20px;
margin-right: 20px;
margin-top: -40px;
text-align: left; 
background-color:#F2E1AC;
border-color: #F2E1AC;
border-style: solid; 
border-width: 10px;
border-radius: 10px;
font-variation-settings: "opsz" 500, "wght" 300, "SOFT" 0, "WONK" 0;
margin-bottom: 750px;
}

.glyphs{
    font-size: 67px;
    letter-spacing: 30px;
}

#alphabet {
grid-area: v;
background: #f2836b;
border-color: #f2836b;
border-style: solid; 
border-width: 10px;
border-radius: 10px;
margin-top: 900px;
margin-bottom: 300px;
}


.letters {
    font-size: 30px;
}

/* CSS for the footer */
footer{
    background-color: #63a69f; 
}

/*background-image: url("assets/grid.png"); 
/* variable font animation */
h3{
    font-weight:30; 
    text-align: center;
    font-size: 5em;
    font-variation-settings: "opsz" 50, "wght" 700, "SOFT" 0, "WONK" 0;
    background-color: #F2E1AC;
    
}
h4{
    font-weight:20; 
    text-align: left;
    font-size: 4em;
    text-indent: 120px;
    font-variation-settings: "opsz" 90, "wght" 300, "SOFT" 0, "WONK" 0;
    margin-top: -80px;
    padding-top: 0px;
    background-color: #63a69f;
    border-color: #63a69f;
    border-style: solid; 
    border-width: 10px;
}
h5{
    font-weight:10; 
    text-align: center;
    font-size: 3em;
    text-indent: 250px;
    font-variation-settings: "opsz" 70, "wght" 500, "SOFT" 0, "WONK" 0;
    margin-top: -90px;
    padding-top: 0px;
    background-color: #F2E1AC;
}

h6{ 
    font-weight:20; 
    color: black;
    text-align: center;
    font-size: 5em;
    animation: weightChange 7s infinite;
    margin-top: 90px;
    text-align: center; 
    background-color: #63a69f;
}

@keyframes weightChange {
    0%, 100%{
        font-variation-settings: "opsz" 50, "wght" 100, "SOFT" 0, "WONK" 0;
    }
    50%{ 
        font-variation-settings: "opsz" 50, "wght" 700, "SOFT" 0, "WONK" 1;
    }
    
}
/* variable font that changes on hover */
.variable-font{
    font-weight:1 ;
    height:100vh;
    font-size: 10em;
    display:grid;
    place-content: center;
    margin: 0;
    text-align: center;
    font-variation-settings: "wght" 40, "wdth" 0, "XXXX" 1;
    transition: 
        font-weight 500ms,
        font-variation-settings 3s;
}

.variable-font:hover{
    font-weight:500 ;
    height:100vh;
    font-size: 7em;
    display:grid;
    place-content: center;
    margin: 0;
    text-align: center;
    font-variation-settings: "wght" 120, "wdth" 0, "XXXX" 100;
}

footer {
    width:100%;
    display: grid;
    grid-gap: 3px;
    padding:10px;
    word-spacing: 10px;
}
h8{
    font-size: 25px;
    line-height: 50px;
    
}

h11{
    font-size: 40px;
    text-align: bottom;
}
h10{
    font-size: 20px;
    margin-bottom: -5px;
    margin-top: 30px;
}
h9{
    text-align: left;
    text-indent: 20px;
    font-size: 18px;
}

h12{font-size: 20px;
    font-variation-settings: "opsz" , "wght" 500, "SOFT" 0, "WONK" 0; }
